.img-short {
  width: 1.5rem;
  margin-left: 1rem;
}

.uploadImage input {
  margin-left: 3.5rem;
}

.update-profile {
  background-color: #3ab255;
  color: white;
  padding: 0.5rem;
  font-family: sans-serif;
  border-radius: 0.3rem;
  cursor: pointer;
  margin-top: 1rem;
}

.image {
  background: url("../../assets/img/background.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.edit-btn {
  background-color: #3ab255;
  color: white;
  font-size: 15px;
  border: none;
  margin: 20px auto;
  padding: 10px 30px;
}

.profile-pic {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 50%;
}

.settingsPP{
    display: flex;
    align-items: center;
    margin: 10px 0;
    align-self: center;
}

.settingsPPImg{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.settingsPPIcon{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #3AB255;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    padding: 20px;
    font-size: 20px;
    top: 250px;
    left: 240px;
}

.update-btn {
  width: 200px;
  padding: 10px;
  background-color: #3ab255;
  color: white;
  margin: 10px auto;
  border: none;
}