.img-short {
    width:1.5rem;
    margin-left: 1rem;
}

.uploadImage input {
    margin-left:3.5rem;
}


.update-profile {
    background-color: #3AB255;
    color: white;
    padding: 0.5rem;
    font-family: sans-serif;
    border-radius: 0.3rem;
    cursor: pointer;
    margin-top: 1rem;
}

.edit-btn {
    background-color: #3AB255;
    color: white;
    font-size: 15px;
    border: none;
    margin: 20px;
    padding: 10px 30px;
}