body{
  overflow-x: hidden;
}

.app {
  text-align: center;
}

.row {
  margin: 2rem;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (max-width: 600px) {
  .main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}

@media(max-width: 1240px){
  .info{
      padding-left: 0%;
      width: max-content;
  }
  .CenteredImg{
      padding-top: 2rem;
      display: block;
      margin: auto 0 auto 0;
  }
}


.aboutUs-img {
  /* border-radius: 49%; */
  /* border : 5px solid #d8d8e7; */
  width: fit-content;
  height: auto;
}

.app-header {
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-bottom: 3rem;
}



