@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@1,600&family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Crimson+Text:ital,wght@1,600&family=Roboto:wght@900&family=Tiro+Bangla:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Crimson+Text:ital,wght@1,600&family=Noto+Serif:wght@700&family=Roboto:wght@900&family=Tiro+Bangla:ital@1&display=swap');

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

/*Background color*/
#grad1 {
  height: 100vh;
}

/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
  display: none;
}

/*Blue Buttons*/
.action-button {
  width: 100px;
  background: #77c78a;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 0px;
  cursor: not-allowed;
  padding: 10px 5px;
  margin: 20px 5px;
}

.action-button:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #3AB255;
  background: #3AB255;
}


/*The background card*/
.card {
  z-index: 0;
  border: none;
  border-radius: 0.5rem;
  position: relative;
}


/*progressbar*/
#progressbar {
  padding-bottom: 30px;
  overflow: hidden;
  color: gray;
  padding-left: 0;
}

#progressbar .active {
  color: #000000;
}

#progressbar li {
  list-style-type: none;
  font-size: 12px;
  width: 33%;
  float: left;
  position: relative;
}

/*Icons in the ProgressBar*/
#progressbar #account:before {
  font-family: FontAwesome;
  content: "1";
}

#progressbar #personal:before {
  font-family: FontAwesome;
  content: "2";
}

#progressbar #payment:before {
  font-family: FontAwesome;
  content: "3";
}

/*ProgressBar before any progress*/
#progressbar li:before {
  width: 50px;
  height: 50px;
  line-height: 45px;
  display: block;
  font-size: 18px;
  color: #ffffff;
  background: gray;
  border-radius: 50%;
  /* margin: 0 0 0 135px; */
  margin: 0 0 10px auto;
  padding: 2px;
  border: 2px solid white;
  text-align: center;
}

/*ProgressBar connectors*/
#progressbar li:after {
  content: '';
  width: 100%;
  height: 5px;
  background: gray;
  position: absolute;
  left: 0;
  top: 20px;
  z-index: -1;
}

/*Color number of the step and the connector before it*/
#progressbar li.active:before, #progressbar li.active:after {
  background: #3AB255;
}

.request-form {
  text-align: left;
  margin: 0 10px;
}

.font-head {
  font-family: 'Caveat', cursive;
  font-family: 'Crimson Text', serif;
  font-family: 'Noto Serif', serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Tiro Bangla', serif;
}

.subhead {
  margin-top: 20px;
  margin-bottom: 5px;
}

.font-text-head {
  font-family: 'Caveat', cursive;
  font-family: 'Crimson Text', serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Tiro Bangla', serif;
}

.font-text {
  font-family: 'Crimson Text', serif;
  font-family: 'Roboto', sans-serif;
}

textarea {
  padding: 10px;
  width: 100%;
}

.request-heading {
  margin-bottom: 20px;
}

.file-upload {
  text-align: left;
  margin: 20px 10px;
}

.request-btn {
    background-color: #3AB255;
    color: white;
    font-size: 15px;
    border: none;
    padding: 5px 10px;
}

.indicator-text {
  position: absolute;
  top: 30px;
  right: 55px;
}

.sidebar-div {
  z-index: 0;
  margin: 20px;
}

.request-main-div {
  border: 2px solid black;
  box-shadow: 20px 20px 20px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

input[type=file] {
  width: 100%;
}

@media (min-width: 767px) and (max-width: 865px){
  .indicator-text {
    top: 50px;
    right: 0;
    left: 30px;
  }
}

@media (max-width: 457px){
  #progressbar {
    padding-bottom: 70px;
  }
  .indicator-text {
    top: 50px;
    right: 0;
    left: 0;
  }
  .container-fluid{
    padding: 0;
  }
}

.bck {
  background: url("../../assets/img/background.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}