.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin: 40px 0;
}
.pages {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.page {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  color: black;
  text-decoration: none;
}
.page:hover {
  background-color: #3AB255;
  color: #fff;
}

.active {
  background-color: #3AB255;
  color: #fff;
}

.btn {
  background-color: #fff;
  border: 1px solid #3AB255;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}
.btn:hover {
  background-color: #3AB255;
}
.btn--icon {
  height: 24px;
  width: 24px;
  stroke: #3AB255;
}
.btn--icon:hover {
  stroke: #fff;
}



/* .paginationBttns{
  width: 80%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
}

.paginationBttns a{
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid black;
  color: black;
  cursor: pointer;
}

.paginationBttns a:hover{
  color: white;
  background-color: black;
}

.paginationActive a{
  color:white;
  background-color: black;
} */






/* .pagination-container {
    display: flex;
    list-style-type: none;
  
}
.pagination-container .pagination-item {
  padding: 0 12px;
  height: 32px;
  text-align: center;
  margin: auto 4px;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  box-sizing: border-box;
  align-items: center;
  letter-spacing: 0.01071em;
  border-radius: 16px;
  line-height: 1.43;
  font-size: 13px;
  min-width: 32px;

}
.pagination-container .pagination-item .dots:hover {
  background-color: transparent;
  cursor: default;
}
.pagination-container .pagination-item:hover {
  background-color: rgba(0, 0, 0, 0.04);
  cursor: pointer;
}

.pagination-container .pagination-item .selected {
  background-color: rgba(0, 0, 0, 0.08);
}

.arrow::before {
    position: relative;
    content: '';
    display: inline-block;
    width: 0.4em;
    height: 0.4em;
    border-right: 0.12em solid rgba(0, 0, 0, 0.87);
    border-top: 0.12em solid rgba(0, 0, 0, 0.87);
  }

  .arrow.left {
  transform: rotate(-135deg) translate(-50%);
}

.arrow.right {
  transform: rotate(45deg);
}

.pagination-container .pagination-item .disabled {
  pointer-events: none;

}

.pagination-container .pagination-item .disabled .arrow::before {
  border-right: 0.12em solid rgba(0, 0, 0, 0.43);
  border-top: 0.12em solid rgba(0, 0, 0, 0.43);
}

.pagination-container .pagination-item .disabled:hover {
  background-color: transparent;
  cursor: default;
} */