.navbar {
    z-index: 1;
}

/* .navbar {
    position: fixed;
    width: 100vw;
    box-shadow: 5px 5px 20px 5px #0000004d;
} */

.dropdown-pull-right {
    float: right !important;
    right: 0;
    left: auto;
}

.dropdown-pull-right>.dropdown-menu {
    right: 0;
    left: auto;
}

.custom:active {
    background-color: #0d6efd;
}

.topImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}