.navbar {
    z-index: 1;
}

.navbar {
    /* position: fixed; */
    width: 100vw;
    height: 8vh;
    box-shadow: 5px 5px 20px 5px #0000004d;
}

.dropdown-pull-right {
    float: right !important;
    right: 0;
    left: auto;
}

.dropdown-pull-right>.dropdown-menu {
    right: 0;
    left: auto;
}

.custom {
    padding: 20px;
    margin: 0 10px;
}

.custom:active {
    background-color: #0d6efd;
}

.custom-dropdown:hover{
    background-color: #b3d1ff;
}

.topImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}